.gameboard-container {
  display: flex;
  justify-content: center;
}

.gameboard {
  display: inline-grid;
  grid-template: repeat(3, minmax(100px, 10vw)) / repeat(3, minmax(100px, 10vw));
}

.cell {
  align-items: center;
  border: black 2px solid;
  display: flex;
  font-size: 8rem;
  justify-content: center;
  padding-bottom: 10%;
}

.score-container {
  border: black 2px solid;
  display: flex;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  width: 296px;
}

.score-container > div {
  border: black 1px solid;
  flex: 1;
  margin: 5px;
  text-align: center;
}

.score-container > div > div {
  font-size: 3.5rem;
}