.gameboard-container {
  display: flex;
  justify-content: center;
}

.gameboard {
  display: inline-grid;
  grid-template: repeat(3, minmax(100px, 10vw)) / repeat(3, minmax(100px, 10vw));
}

.cell {
  align-items: center;
  border: black 2px solid;
  display: flex;
  font-size: 8rem;
  justify-content: center;
  padding-bottom: 10%;
}