@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

.gameboard-container {
  display: flex;
  justify-content: center;
}

.gameboard {
  display: inline-grid;
  grid-template: repeat(3, minmax(100px, 9.5vw)) / repeat(
      3,
      minmax(100px, 9.5vw)
    );
}

.cell {
  align-items: center;
  background-color: #fff;
  border: black 2px solid;
  color: #000;
  display: flex;
  font-size: 8rem;
  justify-content: center;
  padding-bottom: 10%;
}

.score-container {
  border: #fff 2px solid;
  border-radius: 5px;
  color: #fff;
  display: flex;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  width: 296px;
}

.score-container > div {
  flex: 1;
  margin: 5px;
  text-align: center;
}

.score-container > div > div {
  font-size: 3.5rem;
}

form {
  margin: auto;
  margin-bottom: 20px;
  margin-top: -12px;
  width: 296px;
}

form > fieldset > div {
  display: inline;
}

form > fieldset {
  border: #fff 4px solid;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  padding: 20px;
  padding-bottom: 25px;
}

.button-container > button {
  background-color: #000; 
  border: #fff 3px solid;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  width: 80px;
}

.button-container > button:hover {
  background-color: #222;
}

.button-container > button:active {
  background-color: #444;
}

.button-container {
  display: flex;
  gap: 15px;
  padding-top: 10px;
  justify-content: center;
}
